/* ========== */
/* General */
/* ========== */
:root {
  --clr-neutral-100: #ffffff;
  --clr-neutral-200: #eeeeee;
  --clr-neutral-500: #979797;
  --clr-neutral-700: #666666;
  --clr-neutral-900: #000000;
  --clr-accent: #0088cc;

  font-size: 62.5%;
  --fs-xl: 11.9rem;
  --fs-900: 8.9rem;
  --fs-800: 6.7rem;
  --fs-700: 5rem;
  --fs-600: 3.7rem;
  --fs-500: 2.8rem;
  --fs-400: 2.1rem;
  --fs-300: 1.6rem;
  --fs-200: 1.2rem;
  --fs-100: 0.9rem;
  --fs-xs: 0.7rem;
  --fs-xxs: 0.5rem;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Press Start 2P", cursive;
  line-height: 1.6;
  font-size: var(--fs-400);
  font-weight: 400;
  margin: 0;
  color: var(--clr-neutral-900);
  background-color: var(--clr-neutral-200);
}

/* ========== */
/* Components */
/* ========== */
.container {
  display: flex;
  flex-direction: column;
  margin-inline: auto;
  width: 880px;
}
.game-field {
  display: grid;
  grid-template-columns: repeat(22, 1fr);
  width: 880px;
}

.field {
  width: 40px;
  height: 40px;
  border: solid var(--clr-neutral-900) 1px;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}
