/* ========== */
/* General */
/* ========== */
:root {
  --clr-neutral-100: #ffffff;
  --clr-neutral-900: #000000;

  font-size: 62.5%;
  --fs-400: 2.1rem;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Press Start 2P", cursive;
  line-height: 1.6;
  font-size: var(--fs-400);
  font-weight: 400;
  margin: 0;
  color: var(--clr-neutral-100);
  background-color: var(--clr-neutral-900);
}

/* ========== */
/* Components */
/* ========== */
.app-container {
  display: flex;
  flex-direction: column;
  margin-inline: auto;
  width: 880px;
}

.game-board {
  display: grid;
  grid-template-columns: repeat(22, 1fr);
  width: 880px;
}

.field {
  width: 40px;
  height: 40px;
  border: solid var(--clr-neutral-900) 1px;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
}

header h2 {
  font-size: var(--fs-400);
}

.instructions {
  display: flex;
  flex-direction: column;
}

.instructions p {
  margin: 0px;
  text-align: center;
}
